In [ ]:
# create a function to open the dataset file and load its content
import csv

def read_Csv():
    with open ("/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv",'r') as file:
        reader = csv.reader(file)
        for row in reader:
            print(row)

read_Csv()

In [2]:
import pandas as pd
csv_file = "/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv"
df_from_csv = pd.read_csv(csv_file)
#df_from_csv.info()
df_from_csv.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998

In [ ]:
%pip install openpyxl

In [ ]:
# install extensions for Junyper notebook

%pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

In [7]:
# Trying to import Excel file
import pandas as pd
excel_file = "/Users/michelo/Documents/DIT/Notebooks/Files/colombia-2016-01-29.xlsx"
df_from_excel = pd.read_excel(excel_file, sheet_name = "colombia-2016-01-29")
df_from_excel.info()
df_from_excel.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   region               35 non-null     object
 1   samples_received     35 non-null     int64
 2   samples_testable     35 non-null     int64
 3   samples_tested       35 non-null     int64
 4   samples_in_progress  35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

,region,samples_received,samples_testable,samples_tested,samples_in_progress
0,AMAZONAS,11,4,0,4
1,ANTIOQUIA,675,158,94,64
2,ARAUCA,91,17,12,5
3,ATLANTICO,582,205,71,134
4,BOGOTA,33,11,2,9

In [ ]:
import pandas as pd
df = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.csv')
df_xlsx = pd.read_excel('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.xlsx')
dt_txt = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.txt',delimiter='\t')

# print(df)
print (df.head(10))

# Reading Data in Pandas

In [ ]:
# Read headers
df.columns
# Read each Column
print(df['Name'])
print(df[['Name','Type 1','HP']]) # load of multiple columns

# Read each Row
print(df.head(4))
print(df.iloc[0:4])

## using FOR
for index, row in df.iterrows():
    print(index,row) # Possibility 1 --> Output all row of the dataset
    print(index,row['Name']) # Possibility 2

## Using Loc
df.loc[df['Type 1'] == "Fire"] # have as output all rows having Type 1 equal to Fire

# read a specific location (R,C)
print(df.iloc[2,1])

# Sorting/Describing Data

In [9]:
df.describe()

# sorting 
df.sort_values('Name',ascending=True) # sorting one value
df.sort_values(['Name','Type 1','HP'],ascending=[1,0,1]) # sorting differents value, the first one is ascending and the second one descending, the third one is ascending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Make changes to the Data

In [11]:
df['Total'] = df['HP'] +  df['Attack'] + df['Defense']
# drop a specific columns
df = df.drop(columns=['Total'])

# second way
df['Total'] = df.iloc[:,4:10].sum(axis=1)

cols = list(df.columns.values)
df = df[cols[0:4]+ [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our new CSV with all update

In [ ]:
df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified.csv', index=False)
df.to_excel('/Users/michelo/Documents/DIT/Notebooks/Files/modified.xlsx', index=False)
df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified.txt', index=False, sep='\t')

# Filtering Data

In [14]:
df.loc[df['Type 1'] == 'Grass']
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df

new_df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified_newdf.csv', index=False)

# to reset index 
new_df = new_df.reset_index() # new_df = new_df.reset_index(drop = True, inplace = true)
new_df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/resetIndex_newdf.csv', index=False)

In [1]:
# Exemple de classe

import turtle

class Tortue:
    def __init__(self):
        self.t1 = turtle.Turtle()
    
    def Square(self,l):
        for i in range(4):
            self.t1.forward(l)
            self.t1.right(90)

    def Circle(self,r):
        self.t1.circle(r)

le = 100
ra = 75

d1 = Tortue()
d2 = Tortue()

d1.Square(le)

d2.Circle(ra)

turtle.exitonclick()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

class StraightLines():
    def __init__(self, m, c):
        self.slope = m
        self.y_intercept = c
    def __call__(self, x):
        return self.slope * x + self.y_intercept
line = StraightLines(0.4, 3)
for x in range(-5, 6):
    print(x, line(x))

lines = []
lines.append(StraightLines(1, 0))
lines.append(StraightLines(0.5, 3))
lines.append(StraightLines(-1.4, 1.6))


X = np.linspace(-5,5,100)
for index, line in enumerate(lines):
    line = np.vectorize(line)
    plt.plot(X, line(X), label='line' + str(index))
plt.title('Some straight lines')
plt.xlabel('x', color='#1C2833')
plt.ylabel('y', color='#1C2833')
plt.legend(loc='upper left')
plt.grid()
plt.show()

In [ ]:
# class Adress:                                                                                   
# def __init__(self, rue, ville, code_postal):                                                
# rue, ville, code_postal sont des attributs privÃ©s (pensez Ã  ajouter les property  

class Adress :
    def __init__ (self,rue,ville,code_postal):
        self.__rue = rue
        self.__ville = ville
        self.__code_postal = code_postal
    
    @property
    def rue(self):
        return self.__rue
    #setter
    @rue.setter

    @property
    def ville(self):
        return self.__ville
    #setter
    @ville.setter

    @property
    def code_postal(self):
        return self.__code_postal
    #setter
    @code_postal.setter