In [ ]:
# create a function to open the dataset file and load its content
import csv

def read_Csv():
    with open ("/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv",'r') as file:
        reader = csv.reader(file)
        for row in reader:
            print(row)

read_Csv()

In [2]:
import pandas as pd
csv_file = "/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv"
df_from_csv = pd.read_csv(csv_file)
#df_from_csv.info()
df_from_csv.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998

In [4]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 KB 324.1 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# install extensions for Junyper notebook

%pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

In [7]:
# Trying to import Excel file
import pandas as pd
excel_file = "/Users/michelo/Documents/DIT/Notebooks/Files/colombia-2016-01-29.xlsx"
df_from_excel = pd.read_excel(excel_file, sheet_name = "colombia-2016-01-29")
df_from_excel.info()
df_from_excel.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   region               35 non-null     object
 1   samples_received     35 non-null     int64
 2   samples_testable     35 non-null     int64
 3   samples_tested       35 non-null     int64
 4   samples_in_progress  35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

,region,samples_received,samples_testable,samples_tested,samples_in_progress
0,AMAZONAS,11,4,0,4
1,ANTIOQUIA,675,158,94,64
2,ARAUCA,91,17,12,5
3,ATLANTICO,582,205,71,134
4,BOGOTA,33,11,2,9

In [1]:
# Exemple de classe

import turtle

class Tortue:
    def __init__(self):
        self.t1 = turtle.Turtle()
    
    def Square(self,l):
        for i in range(4):
            self.t1.forward(l)
            self.t1.right(90)

    def Circle(self,r):
        self.t1.circle(r)

le = 100
ra = 75

d1 = Tortue()
d2 = Tortue()

d1.Square(le)

d2.Circle(ra)

turtle.exitonclick()

In [ ]:
# class Adress:                                                                                   
# def __init__(self, rue, ville, code_postal):                                                
# rue, ville, code_postal sont des attributs privés (pensez à ajouter les property  

class Adress :
    def __init__ (self,rue,ville,code_postal):
        self.__rue = rue
        self.__ville = ville
        self.__code_postal = code_postal
    
    @property
    def rue(self):
        return self.__rue
    #setter
    @rue.setter

    @property
    def ville(self):
        return self.__ville
    #setter
    @ville.setter

    @property
    def code_postal(self):
        return self.__code_postal
    #setter
    @code_postal.setter