In [ ]:
# create a function to open the dataset file and load its content
import csv

def read_Csv():
    with open ("/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv",'r') as file:
        reader = csv.reader(file)
        for row in reader:
            print(row)

read_Csv()

In [2]:
import pandas as pd
csv_file = "/Users/michelo/Documents/DIT/Notebooks/Files/NBA_Player_Stats.csv"
df_from_csv = pd.read_csv(csv_file)
#df_from_csv.info()
df_from_csv.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mahmoud Abdul-Rauf,PG,28,SAC,31,0,17.1,3.3,8.8,...,0.2,1.0,1.2,1.9,0.5,0.0,0.6,1.0,7.3,1997-1998
1,2,Tariq Abdul-Wahad,SG,23,SAC,59,16,16.3,2.4,6.1,...,0.7,1.2,2.0,0.9,0.6,0.2,1.1,1.4,6.4,1997-1998
2,3,Shareef Abdur-Rahim,SF,21,VAN,82,82,36.0,8.0,16.4,...,2.8,4.3,7.1,2.6,1.1,0.9,3.1,2.5,22.3,1997-1998
3,4,Cory Alexander,PG,24,TOT,60,22,21.6,2.9,6.7,...,0.3,2.2,2.4,3.5,1.2,0.2,1.9,1.6,8.1,1997-1998
4,4,Cory Alexander,PG,24,SAS,37,3,13.5,1.6,3.9,...,0.2,1.1,1.3,1.9,0.7,0.1,1.3,1.4,4.5,1997-1998

In [ ]:
%pip install openpyxl

In [ ]:
# install extensions for Junyper notebook

%pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

In [7]:
# Trying to import Excel file
import pandas as pd
excel_file = "/Users/michelo/Documents/DIT/Notebooks/Files/colombia-2016-01-29.xlsx"
df_from_excel = pd.read_excel(excel_file, sheet_name = "colombia-2016-01-29")
df_from_excel.info()
df_from_excel.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   region               35 non-null     object
 1   samples_received     35 non-null     int64
 2   samples_testable     35 non-null     int64
 3   samples_tested       35 non-null     int64
 4   samples_in_progress  35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

,region,samples_received,samples_testable,samples_tested,samples_in_progress
0,AMAZONAS,11,4,0,4
1,ANTIOQUIA,675,158,94,64
2,ARAUCA,91,17,12,5
3,ATLANTICO,582,205,71,134
4,BOGOTA,33,11,2,9

In [ ]:
import pandas as pd
df = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.csv')
df_xlsx = pd.read_excel('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.xlsx')
dt_txt = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.txt',delimiter='\t')

# print(df)
print (df.head(10))

# Reading Data in Pandas

In [ ]:
# Read headers
df.columns
# Read each Column
print(df['Name'])
print(df[['Name','Type 1','HP']]) # load of multiple columns

# Read each Row
print(df.head(4))
print(df.iloc[0:4])

## using FOR
for index, row in df.iterrows():
    print(index,row) # Possibility 1 --> Output all row of the dataset
    print(index,row['Name']) # Possibility 2

## Using Loc
df.loc[df['Type 1'] == "Fire"] # have as output all rows having Type 1 equal to Fire

# read a specific location (R,C)
print(df.iloc[2,1])

# Sorting/Describing Data

In [9]:
df.describe()

# sorting 
df.sort_values('Name',ascending=True) # sorting one value
df.sort_values(['Name','Type 1','HP'],ascending=[1,0,1]) # sorting differents value, the first one is ascending and the second one descending, the third one is ascending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Make changes to the Data

In [11]:
df['Total'] = df['HP'] +  df['Attack'] + df['Defense']
# drop a specific columns
df = df.drop(columns=['Total'])

# second way
df['Total'] = df.iloc[:,4:10].sum(axis=1)

cols = list(df.columns.values)
df = df[cols[0:4]+ [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our new CSV with all update

In [ ]:
df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified.csv', index=False)
df.to_excel('/Users/michelo/Documents/DIT/Notebooks/Files/modified.xlsx', index=False)
df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified.txt', index=False, sep='\t')

# Filtering Data

In [15]:
df.loc[df['Type 1'] == 'Grass']
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
mega_df = df.loc[df['Name'].str.contains('Mega')] # will filter all rows and values where there is Mega
not_mega_df = df.loc[~df['Name'].str.contains('Mega')] # will filter and set output value after dropping rows that contains 'Mega'

new_df
mega_df
not_mega_df

new_df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/modified_newdf.csv', index=False)

# to reset index 
new_df = new_df.reset_index() # new_df = new_df.reset_index(drop = True, inplace = true)
new_df.to_csv('/Users/michelo/Documents/DIT/Notebooks/Files/resetIndex_newdf.csv', index=False)

# Using Regular expressions
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', flags =re.I, regex=True)] # | means OR, and flags =re.I means Ignore case
regex_def = df.loc[df['Name'].str.contains('^pi[a-z]*', flags =re.I, regex=True)] # look fo values starting with pi, following by other letter between a-z, and more

regex_def

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# CONDITIONAL CHANGES

In [21]:
df.loc[df['Type 1'] == 'Fire','Type 1'] = 'Foobar' # in column Type 1 look for value Fire and change it to "Foobar"
df

df.loc[df['Type 1'] == 'Fire','Lengendary'] = True # in column Type 1 look for value Fire and change the Lengendary column to True
df

df.loc[df['Total'] >500, ['Generation','Legendary']] = ['Test 1 ok','Test 2 ok'] # change dataset according to the 
df

# Load default csv file
df = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Agregating Statistics (GroupBy)

In [22]:
df = pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.csv')
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

df.groupby(['Type 1']).sum() # sum of value groupby
df.groupby(['Type 1']).count() # Count of value groupby

# to have a clean count aggregation
df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count'] # Count of value groupby

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

# Working with a large amount of data in a dataset files

In [ ]:
new_ddf = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('/Users/michelo/Documents/DIT/Notebooks/Files/pokemon_data.csv',chunksize=25):
    results = df.groupby(['Type 1']).count()

    new_ddf = pd.concat([new_ddf, results])

In [1]:
# Exemple de classe

import turtle

class Tortue:
    def __init__(self):
        self.t1 = turtle.Turtle()
    
    def Square(self,l):
        for i in range(4):
            self.t1.forward(l)
            self.t1.right(90)

    def Circle(self,r):
        self.t1.circle(r)

le = 100
ra = 75

d1 = Tortue()
d2 = Tortue()

d1.Square(le)

d2.Circle(ra)

turtle.exitonclick()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

class StraightLines():
    def __init__(self, m, c):
        self.slope = m
        self.y_intercept = c
    def __call__(self, x):
        return self.slope * x + self.y_intercept
line = StraightLines(0.4, 3)
for x in range(-5, 6):
    print(x, line(x))

lines = []
lines.append(StraightLines(1, 0))
lines.append(StraightLines(0.5, 3))
lines.append(StraightLines(-1.4, 1.6))


X = np.linspace(-5,5,100)
for index, line in enumerate(lines):
    line = np.vectorize(line)
    plt.plot(X, line(X), label='line' + str(index))
plt.title('Some straight lines')
plt.xlabel('x', color='#1C2833')
plt.ylabel('y', color='#1C2833')
plt.legend(loc='upper left')
plt.grid()
plt.show()

In [ ]:
# class Adress:                                                                                   
# def __init__(self, rue, ville, code_postal):                                                
# rue, ville, code_postal sont des attributs privés (pensez à ajouter les property  

class Adress :
    def __init__ (self,rue,ville,code_postal):
        self.__rue = rue
        self.__ville = ville
        self.__code_postal = code_postal
    
    @property
    def rue(self):
        return self.__rue
    #setter
    @rue.setter
    def rue(self,value):
        self.__rue = value
        
    @property
    def ville(self):
        return self.__ville
    #setter
    @ville.setter
    def ville(self,value):
        self.__ville = value

    @property
    def code_postal(self):
        return self.__code_postal
    #setter
    @code_postal.setter
    def code_postal(self,value):
        self.__code_postal = value